.forgotPass {
    position: absolute;
    width: 453px;
    height: 383px;
    left: 750px;
    top: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(2, 46, 99, 0.06);
    border-radius: 30px;
}
.forgotpass {
    position: absolute;
    width: 297px;
    height: 32px;
    left: 63px;
    top: 16px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
     color: #000000;
}
.EAdd label {
    position: absolute;
    width: 98px;
    height: 19px;
    left: 60px;
    top: 90px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #B3B3B3;
}
.EAdd input {
    box-sizing: border-box;
    position: absolute;
    width: 333px;
    height: 46px;
    left: 60px;
    top: 113px;

    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 12px;
}
.send{
    position: absolute;
    background: #B14EE0;
    border-radius: 12px;
    width: 333px;
    height: 46px;
    left: 60px;
    top: 193px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.sIn a{
    position: absolute;
    width: 100px;
    height: 22px;
    left: 180px;
    top: 283px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #000000;
}
