.rectangleReset{
    position: absolute;
    width: 400px;
    height: 552px;
    left: 450px;
    top: 25px;

    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(2, 46, 99, 0.06);
    border-radius: 30px;
}
.title{
    position: absolute;
    width: 362px;
    height: 33px;
    left: 47px;
    top: 49px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
.addemail label{
    position: absolute;
    width: 120px;
    height: 19px;
    left: 35px;
    top: 116px;
    color: #B3B3B3;
}
.addemail input{
    box-sizing: border-box;
    position: absolute;
    width: 333px;
    height: 46px;
    left: 35px;
    top: 136px;
    background: #FFFFFF;
    border: 1px solid #D3D1D1;
    border-radius: 12px;
}
.newpass label {
    position: absolute;
    width: 180px;
    height: 19px;
    left: 35px;
    top: 222px;
    color: #B3B3B3;
}
.newpass input{
    box-sizing: border-box;
    position: absolute;
    width: 333px;
    height: 46px;
    left: 35px;
    top: 241px;
    background: #FFFFFF;
    border: 1px solid #D3D1D1;
    border-radius: 12px;
}
.passConfirm4 label {
    position: absolute;
    width: 180px;
    height: 19px;
    left: 35px;
    top: 332px;
    color: #B3B3B3;
}
.passConfirm4 input{
    box-sizing: border-box;
    position: absolute;
    width: 333px;
    height: 46px;
    left: 35px;
    top: 350px;
    background: #FFFFFF;
    border: 1px solid #D3D1D1;
    border-radius: 12px;
}
.save {
    position: absolute;
    background: #B14EE0;
    border-radius: 12px;
    width: 333px;
    height: 46px;
    left: 35px;
    top: 435px;
}
.savefont{
    position: absolute;
    width: 33px;
    height: 19px;
    left: 136px;
    top: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.signin a {
    position: absolute;
    width: 100px;
    height: 22px;
    left: 145px;
    top: 500px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #000000;
}
